{
  "env": {
    "browser": true,
    "webextensions": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "SPECIAL_DIRS": true,
    "MEDIA_TYPES": true,
    "replaceSpecialDirs": true,
    "downloadInto": true
  }
}
