{
  "env": {
    "browser": true,
    "webextensions": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-else-return": 0
  },
  "globals": {
    "SPECIAL_DIRS": true,
    "MEDIA_TYPES": true,
    "SHORTCUT_TYPES": true,
    "SHORTCUT_EXTENSIONS": true,
    "replaceSpecialDirs": true,
    "downloadInto": true,
    "addNotifications": true,
    "requestedDownloadFlag": true,
    "makeObjectUrl": true,
    "makeShortcut": true
  }
}
