{
  "env": {
    "browser": true,
    "webextensions": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-else-return": 0,
    "no-param-reassign": 0
  },
  "globals": {
    "globalChromeState": false,
    "getFilenameFromContentDispositionHeader": false,

    "Path": false,
    "Download": false,
    "Variable": false,
    "Messaging": false,
    "OptionsManagement": false,
    "Notification": false,
    "Menus": false,
    "Headers": false,
    "Shortcut": false,
    "Router": false,
    "options": false,
    "currentTab": false,
    "requestedDownloadFlag": true,

    "SPECIAL_DIRS": false,
    "RULE_TYPES": false,
    "PATH_SEGMENT_TYPES": false,
    "SHORTCUT_EXTENSIONS": false,
    "SHORTCUT_TYPES": false,
    "MESSAGE_TYPES": false,
    "DOWNLOAD_TYPES": false,
    "MEDIA_TYPES": false,
    "OPTION_KEYS": false,
    "OPTION_TYPES": false,
    "CLICK_TYPES": false,

    "BROWSERS": false,
    "CURRENT_BROWSER": false,

    "addClickToCopy": false
  }
}
