html {
  font-family: sans-serif;
  min-height: 100%;
}

pre,
code {
  background-color: rgba(0, 0, 0, 0.1);
}

pre {
  padding: 15px;
}

code {
  padding: 3px;
}

button[type="submit"] {
  font-size: 1rem;
  margin-top: 15px;
  padding: 5px;
}

h4 {
  margin-bottom: 0;
}

.help {
  color: inherit;
  text-decoration: underline;
}

.help:visited {
  color: inherit;
}

.help-text {
  display: none;
  color: black;
  background-color: rgb(241, 243, 217);
  padding: 10px;
  margin: 0 0 15px 0;
}

.show {
  display: block;
}

#options {
  display: flex;
  flex-direction: column;
}

#options > label.column {
  display: flex;
  flex-direction: column;
}

.box {
  margin: 15px 0;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
