:root {
  --font-stack: "Segoe UI", "San Francisco", "Ubuntu", "Fira Sans", "Roboto",
    sans-serif;
  --blue40: #45a1ff;
  --blue50: #0a84ff;
  --blue60: #0060df;
  --blue70: #003eaa;
  --blue80: #002275;
  --grey20: #ededf0;
  --grey30: #d7d7db;
  --grey40: #b1b1b3;
  --grey50: #737373;
  --yellow50: #ffe900;
  --orange50: #ff9400;
  --red50: #ff0039;
  --green50: #30e60b;
  --green60: #12bc00;
}

a,
.link {
  cursor: pointer;
  color: var(--blue60);
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

a:active,
.link:active {
  color: var(--blue70);
}

a.external,
.link.external {
  padding-right: 16px;
  background-image: url(i/open-in-new-16.svg);
  background-size: auto 60%;
  background-position: right center;
  background-repeat: no-repeat;
}

* {
  font-family: var(--font-stack);
  line-height: 1.3;
  font-size: 15px;
}

html {
  font-family: var(--font-stack);
  min-width: 420px;
  min-height: 1%; /* Firefox options page height hack */
}

code,
pre {
  font-family: monospace;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

pre {
  padding: 16px;
  overflow-x: auto;
}

code {
  padding: 4px;
}

h2 {
  width: 100%;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 16px;
}

h3 {
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

hr {
  height: 1px;
  background-color: var(--grey40);
  width: 100%;
  border: none;
  margin: 32px 0 0 0;
}

p,
div,
label,
input,
option {
  font-size: 15px;
  margin-bottom: 4px;
}

label {
  padding: 2px;
}

li {
  margin-bottom: 4px;
}

input[type="number"],
input[type="text"] {
  max-width: 80px;
  padding: 4px;
}

input[type="number"],
input[type="text"],
textarea {
  outline: solid 2px rgba(0, 0, 0, 0);
}

textarea {
  font-family: monospace;
  border-radius: 2px;
  border: solid 1px var(--grey40);
  padding: 8px;
  margin: 8px 0 8px 0;
}

select {
  padding: 4px;
}

td {
  padding: 0 8px;
  line-height: 1.6;
}

div.button,
button {
  border-radius: 2px;
  padding: 8px;
  border: solid 1px var(--grey30);
  background-color: transparent;
  font-weight: 400;
}

div.button:hover,
button:hover {
  background-color: var(--grey30);
}

div.button:active,
button:active {
  background-color: var(--grey40);
}

div.button.puffy,
button.puffy {
  color: white;
  background-color: var(--blue60);
  margin-top: 16px;
  padding: 16px;
  border-radius: 4px;
  border: none;
  text-align: center;
}

div.button.puffy:hover,
button.puffy:hover {
  background-color: var(--blue70);
}

div.button.puffy:active,
button.puffy:active {
  background-color: var(--blue80);
}

.save {
  margin-top: 32px;
}

.help {
  color: var(--blue60);
  cursor: pointer;
}

.help.learn-more {
  padding-left: 24px;
  background-image: url(i/help-16.svg);
  background-size: auto 90%;
  background-position: left 2px;
  background-repeat: no-repeat;
}

.error-row {
  border-radius: 4px;
  background-color: var(--red50);
  color: white;
  padding: 8px 8px 8px 40px;
  background-image: url(i/warning-16.svg);
  background-size: auto 66%;
  background-position: 8px center;
  background-repeat: no-repeat;
}

.help:visited {
  color: var(--blue60);
}

.help:hover {
  text-decoration: underline;
}

.help:active {
  color: var(--blue70);
}

.help-text {
  border-radius: 2px;
  display: none;
  color: black;
  background-color: rgb(241, 243, 217);
  padding: 8px 12px 8px 12px;
  margin: 8px 0 16px 0;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 960px;
}

#options > .column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#submit {
  margin-top: 32px;
  min-width: 132px;
}

.box {
  margin: 16px 0;
  padding: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.chrome-only {
  display: none;
  background-color: rgb(165, 249, 168);
  padding: 12px;
  margin: 0 0 8px 0;
  border-radius: 2px;
}

.click-to-copy {
  cursor: pointer;
}

.click-to-copy:hover {
  outline: solid 2px var(--blue40);
}

.click-to-copy:active {
  background-color: var(--grey40);
}

.caption {
  font-size: 13px;
  font-weight: 400;
}

.caption-line {
  margin-top: 4px;
  margin-left: 32px;
}

.float-right {
  align-self: flex-end !important;
  float: right;
}

.badge {
  padding: 4px;
  border-radius: 4px;
  font-weight: 700;
  background-color: var(--grey30);
}

.warning.badge {
  background-color: var(--yellow50);
}

.firefox.badge {
  background-color: var(--orange50);
}

.demo-box {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
}

.demo-box > .demo-arrow {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 1%;
  align-self: center;
}

.demo-box > .demo-code {
  margin: 0 auto;
  flex: 1;
  overflow-x: auto;
}

.demo-box pre {
  overflow-x: auto;
}

.demo-box > .right {
  margin: 0 0 0 auto;
}

.demo-box > .left {
  margin: 0 auto 0 0;
}

.demo-box > .demo-pic {
  flex: 1;
  background-size: cover;
}

.saved-base {
  border-radius: 4px;
  background-image: url(i/check-16.svg);
  background-position: right 4px top 4px;
  background-size: auto 24px;
  background-repeat: no-repeat;
}

label.saved-base {
  padding-right: 32px;
  background-position: right 8px center;
}

.saved {
  background-size: 16px;
  background-position: right 4px top 4px;
}

.saved-base:active {
  background-size: auto 24px;
}

.popout {
  padding-left: 16px;
  background-image: url(i/open-in-new-16.svg);
  background-size: auto 60%;
  background-position: left center;
  background-repeat: no-repeat;
}
